<!-- auth/_radio -->
<%
const p = {
    name: typeof name === 'undefined' ? model.getFormAttrName(attr) : name,
    value: typeof value === 'undefined' ? model.get(attr) : value,
    label: typeof label === 'undefined' ? model.getAttrLabel(attr) : label,
    error: _t(model.getFirstError(attr))
};
%>
<div class="form-attr form-group required <%- p.error ? ' has-error' : '' %>">
    <div class="form-check-list text-center">
    <% for (const {value, text} of items) {
        const checked = p.value === value ? 'checked' : ''; %>
        <div class="form-check form-check-inline">
            <input id="<%- p.name + value %>" class="form-check-input" name="<%- p.name %>"
                   value="<%- value %>" required <%- checked %> type="radio">
            <label for="<%- p.name + value %>" class="form-check-label" data-t=""><%- text %></label>
        </div>
    <% } %>
    </div>
    <div class="error-block"></div>
</div>